<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reading Analytics</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static' , filename = 'style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Reasing analytics 📊</h1>
      <p class="subtitle">Insight into your reading habits..!</p>
      <div class="book-card">
        <h3>Charts Coming Soon ......</h3>
        <p>
          Mood analytics , rating charts , favorites breakdown and more.....
        </p>
      </div>
      <a href="/">
        <button>Back Home</button>
      </a>
    </div>
  </body>
</html>
