<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Book Mood Journal 📚</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="navbar">
      <h2 class="nav-logo">Book Mood Journal📚</h2>
      <div class="nav-links">
        <a href="/"> Home </a>
        <a href="/analytics"> Analytics </a>
        <a href="/logout"> Logout </a>
      </div>
    </div>
    <div class="container">
      <h1 class="title">Book Mood Journal 📚</h1>

      <p class="subtitle">Your cozy little reading tracker ✨</p>

      <div class="welcome-user">
        Welcome,
        <strong> {{ current_user.username }}</strong>
      </div>

      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="flash-message">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}

      <script>
        setTimeout(() => {
          const flashes = document.querySelectorAll(".flash-message");

          flashes.forEach((flash) => {
            flash.remove();
          });
        }, 3000);
      </script>

      <!-- ========================= -->
      <!-- STATS -->
      <!-- ========================= -->

      <div class="stats-container">
        <div class="stat-card">
          <h3>{{ total_books }}</h3>

          <p>Total Books</p>
        </div>

        <div class="stat-card">
          <h3>⭐ {{ average_rating }}</h3>

          <p>Average Rating</p>
        </div>

        <div class="stat-card">
          <h3>{{ favorite_books }}</h3>

          <p>Favorites</p>
        </div>

        <div class="stat-card">
          <h3>{{ top_mood.title() }}</h3>

          <p>Top Mood</p>
        </div>
      </div>

      <!-- ========================= -->
      <!-- ADD BOOK FORM -->
      <!-- ========================= -->


      <div class="api-search-box">
        <h2 class="search-title">
          Search Any Book 📖
        </h2>
        <div class="api-search-row">
          <input
          type="text"
          id="book-search"
          placeholder="Search for a book">

          <button
          type = "button"
          class="btn brown-btn"
          onclick="searchBooks()"
          >
          Search
          </button>
        </div>
        <div id="search-results"></div>
      </div>

      <form action="/add" method="POST" class="main-form">
        <input type="text" name="title" placeholder="Book Title" required />

        <input type="text" name="author" placeholder="Author Name" required />

        <input
          type="text"
          name="mood"
          placeholder="Mood (dark, emotional, comforting...)"
          required
        />

        <input
          type="number"
          name="rating"
          placeholder="Rating out of 5"
          min="1"
          max="5"
          step="0.1"
          required
        />

        <label class="optional-label"> Favorite Quote (Optional) </label>

        <textarea
          name="quote"
          placeholder="Add a memorable quote..."
        ></textarea>

        <input 
        type="hidden"
        name="cover_url"
        id="cover_url"
        />

        <button type="submit" class="btn brown-btn">Add Book</button>
      </form>

      <hr />

      <!-- ========================= -->
      <!-- SEARCH -->
      <!-- ========================= -->

      <form action="/" method="GET" class="search-form">
        <input
          type="text"
          name="search"
          placeholder="Search books or authors..."
          value="{{ request.args.get('search', '') }}"
        />
        <select name="mood">

  <option value="all">All Moods</option>

  {% for mood in all_moods %}

    <option
      value="{{ mood }}"
      {% if request.args.get('mood') == mood %}
        selected
      {% endif %}
    >
      {{ mood.title() }}
    </option>

  {% endfor %}

</select>



        <div class="button-row">
          <button type="submit" class="btn green-btn">Search</button>

          <a href="/" class="btn red-btn"> Clear </a>
        </div>
      </form>

      <!-- ========================= -->
      <!-- BOOKS -->
      <!-- ========================= -->
       

      {% if books %} 
      <div class="books-grid">
          {% for book in books %}
      <div class="book-card {% if book.favorite %}favorite-card{% endif %}">
        {% if book.favorite %}

        <div class="favorite-badge">⭐ Favorite</div>

        {% endif %}
        {% if book.cover_url %}
        <img 
        src="{{ book.cover_url }}"
        class ="book-cover"
        />
        {% endif %}

        <h2>{{ book.title }}</h2>

        <p>
          <strong>Author:</strong>
          {{ book.author }}
        </p>
        <p>
          <strong>Mood:</strong>
          {{ book.mood.title() }}
        </p>
        <p>
          <strong>Rating:</strong>
          ⭐ {{ book.rating }}
        </p>
        <p>
          <strong>Added:</strong>
          {{ book.created_at.strftime("%d %b %Y") }}
        </p>
        {% if book.quote %}
        <p class="quote">"{{ book.quote }}"</p>
        {% endif %}

        <div class="button-row">
          <a href="/edit/{{ book.id }}" class="btn green-btn"> Edit🖋️ </a>
          <a href="/favorite/{{ book.id }}" class="btn gold-btn">
            {% if book.favorite %} 
            ⭐ Favorited
             {% else %} 
             ⭐ Favorite 
             {% endif %}
          </a>
          <a
            href="/delete/{{ book.id }}"
            class="btn red-btn"
            onclick="return confirm('Delete this book?');">
            Delete
          </a>
        </div>
      </div>
      {% endfor %} 
    </div>
       {% else %}
      <div class = "empty-state">
        <h2>📚</h2>
        <p>No books yet.</p>
        <span>
          Start building your cozy reading shelf.
        </span>
      </div>
      {% endif %}
    </div>
    <footer class = "footer">
      Whispered into existence by Karishma ✨🤍
    </footer>
    <script>
      console.log("js is working just fine!")

async function searchBooks() {

    const query = document
        .getElementById("book-search")
        .value;

    if (!query) return;

    const response = await fetch(
        `https://openlibrary.org/search.json?title=${query}`
    );

    const data = await response.json();

    const resultsDiv =
        document.getElementById(
            "search-results"
        );

    resultsDiv.innerHTML = "";

    data.docs
    .filter((book) =>
    book.language && book.language.includes("eng"))
    .slice(0, 5)
    .forEach(book => {
        const title =
            book.title || "Unknown";

        const author =
            book.author_name?.[0]
            || "Unknown";

        const cover = book.cover_i

            ? `https://covers.openlibrary.org/b/id/${book.cover_i}-M.jpg`

            : "https://placehold.co/200x300";

        resultsDiv.innerHTML += `

            <div class="search-book-card">

                <img
                  src="${cover}"
                  class="search-cover"
                >

                <h3>${title}</h3>

                <p>${author}</p>

                <button
                  type="button"
                  class="btn green-btn"
                  onclick="
                    selectBook(
                      '${title}',
                      '${author}',
                      '${cover}'
                    )
                  "
                >
                  Add This
                </button>

            </div>
        `;
    });
}

function selectBook(
    title,
    author,
    cover
) {

    document.querySelector(
        'input[name="title"]'
    ).value = title;

    document.querySelector(
        'input[name="author"]'
    ).value = author;

    document.getElementById(
        "cover_url"
    ).value = cover;

    window.scrollTo({
        top: 500,
        behavior: "smooth"
    });
}
</script>
  </body>
</html>
