<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css')}}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="flash-message">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="container">
      <h5 class="title">📚 Your reading journey continues ✨</h5>
      <p class="subtitle">Welcome back , reader ✨</p>
      <form method="POST" autocomplete="off" class="auth-form">
        <input
          type="text"
          name="username"
          placeholder="Username"
          autocomplete="username"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="password"
          autocomplete="new-password"
          required
        />
        <button type="submit" class="btn brown-btn">Login</button>
      </form>
      <p class="auth-switch">
        New user ?
        <a href="/register"> Create an account ✨ </a>
      </p>
    </div>
  </body>
</html>
