<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css')}}"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="flash-message">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="container">
      <h5 class="title">📚 Your reading journey continues ✨</h5>
      <p class="subtitle">Welcome back , reader ✨</p>
      <div class="auth-card">
        <form method="POST" autocomplete="off" class="auth-form">
          <input
            type="text"
            name="username"
            placeholder="Username"
            autocomplete="username"
            required
          />
          <div class="password-wrapper">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="password"
              autocomplete="new-password"
              required
            />
            <span onclick="togglePassword()"> 👁️ </span>
          </div>
          <button type="submit" class="btn brown-btn">Login</button>
        </form>
        <p class="auth-switch">
          New user ?
          <a href="/register"> Create an account ✨ </a>
        </p>
      </div>
    </div>
    <script>
      function togglePassword() {
        const password = document.getElementById("password");

        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }
      }
    </script>
  </body>
</html>
